.all-content
{
    width: 100%;
    height: 88px;
    padding: 8px;
    background: var(--colorPrimaryShade6);
    .navbar-content
    {
        justify-content: space-between;
    }
}

.navbar-brand
{
    font-size: var(--fontSizeTitle);
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
    width: auto !important;

    .navbar-brand-image
    {
        width: 72px;
        height: 72px;
        border-radius: 10px;
        border: solid var(--colorQuaternaryShade8) 1px;
    }

    .navbar-brand-image:hover
    {
        filter: brightness(1.3);
    }

    .navbar-brand-text
    {
        color: var(--fontColor);
        margin-left: 10px;
        margin-top: 10px;
    }
}

.navbar-status-display
{
    width:500px; background-color:  green;
}

.mini-add-btn
{
    margin-top: 18px;
    margin-left: 10px;
}

.drop-container
{
    display: none;
}