.sidebarMenu
{
    background-color: var(--colorPrimaryShade5);
    width: auto;
    height: 100%;
    color: var(--fontColor);
    .sidebar-minimize-button
    {
        float: right;
        .mat-icon
        {
            font-size: 30px;
            color: var(--fontColor);
        }
    }
    .sidebar-item-set-label
    {
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size:24px;
        font-weight: bold;
        color: var(--fontColor);
    }
    .title
    {
        justify-content: space-between;
        padding: 8px;
    }
    .drop-list-row
    {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }
    
    .icon-btn
    {
        border-radius: 5px;
        width: 100%;
        .drop-list-btn
        {
            align-items: center;
            flex-flow: row;
        }
    }
    .panel-text
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
        margin-left: 5px;
        font-size: 18px;
    }
    .panel-btn
    {
        flex: auto;
        border-radius: 5px;
        .panel-row
        {
            align-items: center;
        }
    }
    .mini-component-btn
    {
        margin-bottom: 10px;
    }
    .drop-list-text
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
        margin-left: 5px;
        font-size: 16px;
    }
    .square-button-border
    {
        height: 40px;
        .field-list
        {
            .field-box-move
            {
                height:40px;
                width: 40px;
                justify-content: center;
            }
        }
    }
}

.max-bar
{
    width: 200px;
}

.min-bar
{
    width: 60px;
    padding-left: 8px;
    .sidebar-minimize-button
    {
        padding: 8px;
    }
}

::ng-deep .cdk-overlay-container
{
    .sidebar-max-exp-menu
    {
        position: relative !important;
        left: 165px;
        bottom: 30px;
    }

    .sidebar-min-exp-menu
    {
        position: relative !important;
        left: 45px;
        bottom: 40px;
    }
}

  
.field-list
{
    min-height: 40px;
    background: inherit;
    overflow: hidden;
    display: block;
    color: var(--fontColor);
}

.field-box,
.field-box-move
{
    color: var(--fontColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    box-sizing: border-box;
    font-size: 16px;
}
.field-box-move
{
    cursor: move;
}
  
.cdk-drag-preview
{
    padding-left: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(132, 132, 132, 0.3);
    box-shadow: 0 5px 5px -3px rgba(132, 132, 132, 0.2),
                0 8px 10px 1px rgba(132, 132, 132, 0.14),
                0 3px 14px 2px rgba(132, 132, 132, 0.12);
}
